.login-panel {
    padding: 8px 15px;
    font-size: 16px;
}

.login-panel .login-button, .login-panel .register-button {
    display: inline-block;
    padding: 0 10px;
    color: navy;
}

.login-panel .login-button:hover, .login-panel .register-button:hover {
    text-decoration: none;
    color: lightseagreen;
}

.logout-button {
    margin-left: 10px;
    color: mediumblue;
}

.logout-button:hover {
    text-decoration: none;
    color: steelblue;
}

.logged-user-name {
    color: darkorchid;
    font-weight: bolder;
    letter-spacing: 1px;
}

#loginForm, #registerForm {
    width:500px;
}

.form-error-small {
    margin-left: 33.3%;
    margin-top: 1px;
    padding-left: 16px;
    color: palevioletred;
    font-size: 12px;
}

#mapsList {
    width: 300px;
    margin: 10px 0;
}

.mapListItem {
    padding: 2px 0;
    border-top: 1px solid lightcyan;
}

.mapListItem:last-child {
    border-bottom: 1px solid lightcyan;
}

.mapListItemLink {
    display: block;
    padding: 2px 0;
}

.mapListItem:hover {
    background: #ecfff8;
}

/*.createMap {
    margin-top: 15px;
}*/

.component-container {
    width: 100%;
    padding: 0 15px;
}

/* Отрисовка карты */
.mapViewHeader {
    font-size: 20px;
    font-family: Serif;
    font-weight: bold;
    margin: 15px 0;
}

.mapViewHeader .mapEditTitle{
    font-weight: bold;
    padding: 2px 6px;
    border: 1px solid #ccc;
}

.mapViewTable {
    /* border-collapse: collapse; */
}

.mapViewTable td {
    height: 80px;
    width: 80px;
    border: 1px solid #bbb;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.mapViewTable td.empty {
    background: white;
    border: 1px #ccc dotted;
}

.type-jungle {
    /*background: lawngreen;*/
    background: url(../images/jungle5.png);
    background-size: contain;
}


.type-desert {
    /*background: cornsilk;*/
    background: url(../images/desert3.png);
    background-size: contain;
}

.type-none {
    background: mintcream;
}

.type-mountain {
    background: url(../images/mountain4.png) no-repeat center center;
    background-size: contain;
}

.mapViewTable td.border-left-river {
    border-left: 3px #0014ca dashed;
}

/*.mapViewTable td.border-right-river {
    border-right: 3px #0014ca dashed;
}*/

.mapViewTable td.border-top-river {
    border-top: 3px #0014ca dashed;
}

.mapViewTable td.border-bottom-river {
    /* border-bottom: 3px #0014ca dashed; */
}

.mapViewTable td.border-bottom-river:before {
    content: "";
    background: url("../images/river1.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 84px;
    height: 8px;
    top: 75px;
    left: -2px;
    z-index: 1;
}


.mapViewTable td.border-right-river:after {
    content: "";
    background: url("../images/river2.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 8px;
    height: 84px;
    top: -2px;
    left: 75px;
    z-index: 1;
}

.mapViewTable td.border-left-edge {
    border-left: 2px solid black;
}

.mapViewTable td.border-right-edge {
    border-right: 2px solid black;
}

.mapViewTable td.border-top-edge {
    border-top: 2px solid black;
}

.mapViewTable td.border-bottom-edge {
    border-bottom: 2px solid black;
}

.mapViewTable td.editable {
    cursor: cell;
}

.mapViewObject {
    width: 100%;
    height: 100%;
}

.type-flag {
    background: url(../images/flag2.png);
    background-size: contain;
    font-size: 34px;
    font-weight: bold;
    color: #3a97fb;
    font-family: "Charm", cursive;
}

.type-flag .mapViewObject {
    position: relative;
    top: 2px
}

.type-watering {
    background: url(../images/water.png) no-repeat center center;
    background-size: 80%;
}

.type-village {
    background: url(../images/hut2.png);
    background-size: contain;
}

.type-chest {
    background: url(../images/chest2.png) no-repeat center bottom;
    background-size: contain;
    /* background-size: 60px 60px; /* или сделать 80% ? */
    font-size: 30px;
    font-weight: 600;
    /* color: #f70bb7; */
    color: #f11497;
    font-family: "Signika Negative", sans-serif;
    letter-spacing: -1px;
}

.type-chest .mapViewObject {
    position: relative;
    top: 27px;
    left: -5px;
}

.type-guard {
    background: url(../images/swords2.png) no-repeat center center;
    background-size: contain;
}

.editMapWrapper {
    margin-top: 30px;
}

.mapTypeButton {
    display:inline-block;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 7px;
    border: 2px solid #777;
    cursor: pointer;
    transition: 0.6s;
}

.mapTypeButton.checked {
    border: 2px solid indianred;
    box-shadow: 0 0 10px red;
    transition: 0.6s;
}

.mapTypeButton.type-empty {
    background: url(../images/red-cross.png) no-repeat center center;
    background-size: 80%;
}

.mapTypeButton.type-river_right {
    border-right: 3px #0014ca dashed;
}

.mapTypeButton.type-river_bottom {
    border-bottom: 3px #0014ca dashed;
}

.editMapSaveResetBtns {
    margin: 15px 0;
}

.editMapSaveResetBtns div {
    margin: 0 20px;
}

/* Кнопки добавить/удалить ряд, сдвинуть ячейки */
.addDeleteRowsButtons {
    margin-top: 15px;
    position: relative;
    width: 200px;
    height: 200px;
}

.addDeleteRowTop {
    position: absolute;
    top: 0;
    left: 40px;
}

.addDeleteRowLeft {
    position: absolute;
    top: 40px;
    left: 0;
}

.addDeleteRowRight {
    position: absolute;
    top: 40px;
    left: 160px;
}

.addDeleteRowBottom {
    position: absolute;
    top: 160px;
    left: 40px;
}

.addDeleteRowsButtons button {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.addDeleteRowsButtons .addRow {
    background: limegreen;
    color: white;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
}

.addDeleteRowsButtons .deleteRow {
    background: palevioletred;
    color: white;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
}

.addDeleteRowTop .deleteRow, .addDeleteRowBottom .deleteRow {
    left: 80px;
}

.addDeleteRowTop .moveRow, .addDeleteRowBottom .moveRow {
    left: 40px;
}

.addDeleteRowLeft .moveRow, .addDeleteRowRight .moveRow {
    top: 40px;
}

.addDeleteRowLeft .deleteRow, .addDeleteRowRight .deleteRow{
    top: 80px;
}

.addDeleteRowTop .moveRow {
    background: url(../images/arrow-up.png);
    background-size: contain;
}
.addDeleteRowLeft .moveRow {
    background: url(../images/arrow-left.png);
    background-size: contain;
}
.addDeleteRowRight .moveRow {
    background: url(../images/arrow-right.png);
    background-size: contain;
}
.addDeleteRowBottom .moveRow {
    background: url(../images/arrow-down.png);
    background-size: contain;
}

.deleteMap {
    margin-top: 15px;
}

.mapToImage {
    margin-top: 15px;
}

.editMapStart, .deleteMap, .mapToImage {
    width: 130px;
}


/* А тут будут настройки для "распечатки" карт, т.е. представления их как картинок */
.as_image {
    /* min-width: 1500px; */
}

.as_image .mapView {
    overflow-x: scroll;
    width: 1500px;
    height: 2121px;
    background: white;
}

.as_image .mapViewHeader {
    font-size: 120px;
    margin: 150px auto 150px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 500;
    word-spacing: 0.3em;
}

.as_image .mapView.height-8 .mapViewHeader {
    margin: 100px auto 100px;
}

.as_image .mapViewHeader.long {
    font-size: 110px;
}

.as_image .mapViewHeader.superLong {
    font-size: 100px;
    word-spacing: 0.2em;
}

.as_image .mapViewTable {
    margin: 0 auto;
}

.as_image td {
    height: 200px;
    width: 200px;
    border: 2px solid #bbb;
}

.as_image td.border-left-edge {
    border-left: 4px solid black;
}

.as_image td.border-top-edge {
    border-top: 4px solid black;
}

.as_image td.border-right-edge {
    border-right: 4px solid black;
}

.as_image td.border-bottom-edge {
    border-bottom: 4px solid black;
}

.as_image td.type-none {
    background: none;
}

.as_image td.empty {
    border: none;
}

.as_image td.type-chest .mapViewObject {
    left: -12px;
    font-size: 72px;
    letter-spacing: -2px;
    line-height: 190px;
    top: 27px; /* Я не понимаю, почему при создании картинки текст ниже, чем на экране, но это смещение спасает */
}

.as_image td.type-flag .mapViewObject {
    position: relative;
    /* top: 8px; */
    top: -10px; /* Я не понимаю, почему при создании картинки текст ниже, чем на экране, но это смещение спасает */
    font-size: 84px;
    transform: rotate(4deg);
    line-height: 148px;
}

.as_image td.border-bottom-river:before {
    width: 206px;
    height: 20px;
    top: 189px;
    left: -3px;
}

.as_image td.border-right-river:after {
    width: 20px;
    height: 206px;
    left: 189px;
    top: -3px;
}

/* Мини-костыль, чтобы река не вытарчивала за край карты */
.as_image td.border-bottom-river.border-right-edge:before {
    width: 204px;
}

.as_image td.border-right-river.border-bottom-edge:after {
    height: 204px;
}